<%= simple_form_for @post do |f| %>
<div class="p-3 mb-4 bg-success text-white rounded">
<%= f.input :titre, input_html: { class: 'form-control text-secondary'} %>
</div>
<div class="p-3 mb-4 bg-success text-white rounded">
<%= f.input :description, input_html: { class: 'form-control text-secondary'} %>
</div>
<div class="p-3 mb-4 bg-success text-white rounded">
<%= f.input :published, input_html: { class: 'form-check-input' }  %>
</div>
<div class="p-3 mb-4 bg-success text-white rounded">
<%= f.input :published_at, input_html: { class: 'form-control mt-1 text-secondary' }  %>
</div>
<div class="p-3 mb-4 bg-success rounded">
<%= f.button :submit, class: 'btn btn_primary text-white' %>
</div>
<% end %>
