<h4 class='d-flex justify-content-between'>
  <span>Post</span>
   <%= link_to 'New Post', new_post_path, class: 'btn btn-primary'%>
</h4>

<% @posts.each do |post| %>
<div class='mt-5 d-flex justify-content-between'>
 <%= link_to 'Edit', edit_post_path(post)%>
 <%= link_to 'Show', post %>
 <%= post.published_at %>
 <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
    <div class='card mb-3 p-3 bg-success text-white rounded'>
      <div class='card-body mb-1'>
        <h5 class='card-title text-center text-white font-italic'>
        <%= post.titre %>
        </h5>
        <p class='text-secondary text-dark text-center mb-0 font-italic'>
         <%= post.description %>
         </p>
      </div>
    </div>
<% end %>