<!DOCTYPE html>
<html>
  <head>
    <title>RailsCourse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<<<<<<< HEAD
 <body class='bg-light'>
=======
  <body class='bg-light'>
>>>>>>> 5ce5a533473e63c2c54a74d4fc089dcbc50ee965
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
<<<<<<< HEAD
 </body>
=======
    <div>
  </body>
>>>>>>> 5ce5a533473e63c2c54a74d4fc089dcbc50ee965
</html>
